<launch>
    <include file="$(find test_py_merge)/launch/robot_ns.launch">
        <arg name="my_ns" value="tb1" />
    </include>

    <include file="$(find test_py_merge)/launch/robot_ns.launch">
        <arg name="my_ns" value="tb2" />
    </include>

    <include file="$(find test_py_merge)/launch/map_merge.launch"/>
</launch>
